@import 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css';

body {
    background-color: #ffffff;
}

.navbar {
    background-color: transparent;
    margin: 20px;
    padding: 0.5rem;
    border-radius: 0;
}

.navbar-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.navbar.navbar-expand-lg.fixed-top,
.offcanvas-header,
.offcanvas-body {
    background-color: transparent;
}

.navbar .container-fluid {
    justify-content: end;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-success:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #717788;
    font-weight: 500;
    position: relative;
}

.nav-link:hover,
.nav-link.mx-lg-2.active {
    color: #48546B;

}

.nav-link.mx-lg-2 {
    position: center;
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #717788;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.nav-link:hover::before,
.nav-link.active::before {
    width: 100%;
    visibility: visible;
}

.navbar-nav.d-none.d-lg-flex {
    flex-direction: row; /* Align links in a row for large screens */
}

.contact-button {
    background-color: #48546B;
    color: #e5eee4;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
    font-family: "Montserrat", sans-serif;
    /* Centering the text vertically */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Set margin as per requirement */
}


.contact-button:hover {
    background-color: #717788;
}

.logo {
    height: 30px;
    width: auto;
    cursor: pointer;
}


#contact-section {
    background-color: #48546B;
    color: #e4e7ee;
    padding: 50px 40px;
    margin-top: 800px;
    justify-content: center;
    align-items: center;
}

.contact-form {
    background: transparent;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
}

.contact-title {
    color: #e4e7ee;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.contact-description {
    color: #e4e7ee;
    margin-bottom: 40px;
}

.form-control {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #e4e7ee;
    border-radius: 0;
    margin-bottom: 20px;
    color: #e4e7ee;
    padding: 10px 0;
}

.form-control:focus {
    background-color: #48546B;
    border-bottom: 1px solid #e4e7ee;
    color: #e4e7ee;
    box-shadow: none;
}

.form-control::placeholder {
    color: #e4e7ee;
}

.btn-send {
    background-color: #717788;
    color: #e4e7ee;
    padding: 10px 20px;
    border: none;
    transition: background-color 0.3s;
}

.btn-send:hover {
    background-color: #A5ABBD;
}

.feedback {
    display: none;
    color: #f00;
    margin-top: 5px;
}

#characterCount {
    color: #e4e7ee;
    margin-top: 5px;
}